.Story__content3{
  background-color: $color-grey-light-1;
  grid-column: col-start 5 / full-end;
  grid-row: 3 / 4;

  padding: 6rem 8vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.story-text{
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 4rem;
}

.btn-cars3{
  background-image: linear-gradient(to right, $color-light-blue, $color-dark-blue);
  color: $color-white;
  border: none;
  border-radius: 0;
  font-family: sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .2s;

  &:hover{
    background-image: linear-gradient(to left, $color-light-blue, $color-dark-blue);
  }
}
