////////////////////////////////////////////////////
// DESCRIPTION
.paragraph2:not(:last-of-type){
  margin-bottom: 2rem;
}
.detail-list{
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: $border-line;
  border-bottom: $border-line;

  display: flex;
  flex-wrap: wrap;
  &__item{
    flex: 0 0 50%;
    margin-bottom: .7rem;

    &::before{
      content: '';
      display: inline;
      height: 2rem;
      width: 2rem;
      margin-right: .7rem;
      // older brower
      // background-image: url('../../../images/chevron-thin-right.svg');

      // newer browser - masks (areas where we can look through an element and see whats behind it)
      @supports (-webkit-mask-image: url()) or (-mask-image: url()) {
      background-color: $color-dark-blue;
      // -webkit-mask-image: url(./../../images/chevron-thin-right.svg);
      // mask-image: url(./../../images/chevron-thin-right.svg);
      -webkit-mask-size: cover;
      mask-size: cover;
      background-image: none;
    }

    }
  }
}

.recommend{
    font-size: 1.3rem;
    color: $color-grey-dark2;

    display: flex;
    align-items: center;

  &__count{
    margin-right: auto;
  }
  &__friends{
    display: flex;
  }
  &__photo{
    box-sizing: content-box;
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      border: 3px solid $color-white;

      &:not(:last-child){
        margin-right: -2.9rem;


      }

  }
}
