// colors
// $color-primary-1: #e7e00c;
// $color-primary-2: #151c6e;
// $color-primary-3: #c40a0a;
$color-light-blue: #10f1e7;
$color-light-red: #fe2727;
$color-light-yellow: #fafe27;
$color-dark-blue: #334ee1;
$color-dark-red: #c80707;
$color-dark-yellow: #df6803;
$color-grey: #777;
$color-grey-dark: #514e4e;
$color-grey-dark2: #9da3a3;
$color-grey-dark3: #2a2c2c;
$color-white: #fff;
$color-grid: #f7e121;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #e3e7e5;
$color-black: #56566a;
$shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
$shadow-dark2: 0 2rem 5rem rgba(0,0,0,.16);
$border-line: 1px solid $color-grey-dark2;
$bp-largest: 75em; //  1200px/16px;
$bp-large: 68.75em; //  1100px/16px;
$bp-medium: 56.25em; //  900px/16px;
$bp-small: 37.5em; //  600px/16px;
$bp-smallest: 31.25em; //  500px/16px;

// fonts
$default-font-size: 1.6rem;

// Grids
$grid-width: 114rem;
$grid-width2: 140rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
$gutter-horizontal2: 16rem;
